body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 300;
}


header {
    color: white;
    background-color: #212121;
    padding: 10px 0px 5px 0px;
    box-shadow: 0 3px 4px rgb(56, 56, 56);
    position: sticky;
    top: 0px;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    float: left;
    width: 150px;
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    background-color: transparent;
    padding: 8px 10px;
    margin: 10px 20px;
    border-radius: 10px;
}

.nav-links a:hover {
    color: black;
    background-color: aqua;
    transition: 0.5s ease-out;
    box-shadow: 0 4px 10px rgb(125, 255, 255);
}

.menubar{
    display: none;
}

.hero {
    text-align: center;
    padding: 40px;
}


.image-auto-change {
    margin: 0px;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.Section_top {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(./Home__images/home-page__Anniversary-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 30s infinite ease-in-out;
}

.content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.6;
    animation: change-font-color 30s infinite ease-in-out;
}

.content h1 {
    font-size: 50px;
    letter-spacing: 10px;
    font-weight: 700;
    text-transform: uppercase;
    gap: 3px;
}

.content span {
    font-size: 35px;
    font-weight: 400;
}


@keyframes change {
    0% {
        background-image: url(./Home__images/home-page__Anniversary-image.jpg);
    }

    15% {
        background-image: url(./Home__images/home-page__birthday-image.jpg);
    }

    30% {
        background-image: url(./Home__images/home-page__earing-image.jpg);
    }

    45% {
        background-image: url(./Home__images/home-page__engagement-image.jpg);
    }

    60% {
        background-image: url(./Home__images/home-page__housewarming-image.jpg);
    }

    80% {
        background-image: url(./Home__images/home-page__marriage-image.jpg);
    }

    100% {
        background-image: url(./Home__images/home-page__Puberty-Function.jpg);
    }
}

@keyframes change-font-color {
     0%{
        color: white;
     }

     15%{
        color: rgb(245, 61, 6);
     }
     
     30%{
        color: rgb(255, 238, 0);
     }
     
     45%{
        color: rgb(9, 255, 0);
     }
     
     60%{
        color: rgb(0, 255, 255);
     }
     
     80%{
        color: rgb(4, 0, 255);
     }
     
     100%{
        color: rgb(255, 0, 179);
     }
}



/* GALLERY STYLESHEET */

.gallery-section {
    margin: 30px 50px 70px 50px;
}

.gallery__title {
    font-weight: 400;
    font-size: 35px;
    margin: 0;
}

img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

img:hover {
    transform: scale(1.03);
}

.gallery__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}


/* Media Queries */

@media screen and (max-width: 768px) {

    body{
        font-size: 12px;
    }

    /* Navbar */

    .logo{
        width: 80px;
    }

    .menubar{
        display: block;
    }

    .nav-links{
        display: none;
    }

    /* Gallery Page */

    .gallery-section{
        margin: 10px;
    }

    .gallery__container {
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }

}